{% extends 'leruimoveis/normal_base.html' %}

{% load static %}  

{% block content %}

    <div class="px-0 py-0 my-0 text-center">
        <div class="section bg-light" id="nossos-servicos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0" style="margin: 30px 0px 30px 0px;">
                        {% include 'agencias/agencia-side-menu.html' %}
                    </div>  
                    <div class="col-lg-8 mb-5 mb-lg-0" style="margin: 30px 0px 60px 0px;">
                        <div style="border:#ccc solid 1px;">
                            <ul class="list-group list-group-flush" style="text-align: left; width: 100%;">
                                <li class="list-group-item" style="background-color: #ccc;">Redes Sociais</li>
                                <li class="list-group-item form-bg">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label for="facebook" class="form-label input-titulos">Facebook</label>
                                            <div class="input-group">
                                                <input type="text" id="facebook" class="form-control" value="{{ sede.facebook|default:'' }}">
                                                <button class="btn btn-danger" type="button" id="btnEliminarFacebook" onclick="Eliminar('facebook')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                                                </button>
                                                <button class="btn btn-detalhes" type="button" id="btnGuardarFacebook" onclick="Guardar('facebook')" style="width: 46px !important;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#FFFFFF"><path d="M816-672v456q0 29.7-21.15 50.85Q773.7-144 744-144H216q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h456l144 144Zm-72 30L642-744H216v528h528v-426ZM556.5-283.5Q588-315 588-360t-31.5-76.5Q525-468 480-468t-76.5 31.5Q372-405 372-360t31.5 76.5Q435-252 480-252t76.5-31.5ZM264-552h336v-144H264v144Zm-48-77v413-528 115Z"/></svg>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="instagram" class="form-label input-titulos">Instagram</label>
                                            <div class="input-group">
                                                <input type="text" id="instagram" class="form-control" value="{{ sede.instagram|default:'' }}">
                                                <button class="btn btn-danger" type="button" id="btnEliminarInstagram" onclick="Eliminar('instagram')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                                                </button>
                                                <button class="btn btn-detalhes" type="button" id="btnGuardarInstagram" onclick="Guardar('instagram')" style="width: 46px !important;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#FFFFFF"><path d="M816-672v456q0 29.7-21.15 50.85Q773.7-144 744-144H216q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h456l144 144Zm-72 30L642-744H216v528h528v-426ZM556.5-283.5Q588-315 588-360t-31.5-76.5Q525-468 480-468t-76.5 31.5Q372-405 372-360t31.5 76.5Q435-252 480-252t76.5-31.5ZM264-552h336v-144H264v144Zm-48-77v413-528 115Z"/></svg>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="tiktok" class="form-label input-titulos">TikTok</label>
                                            <div class="input-group">
                                                <input type="text" id="tiktok" class="form-control" value="{{ sede.tiktok|default:'' }}">
                                                <button class="btn btn-danger" type="button" id="btnEliminarTiktok" onclick="Eliminar('tiktok')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                                                </button>
                                                <button class="btn btn-detalhes" type="button" id="btnGuardarTiktok" onclick="Guardar('tiktok')" style="width: 46px !important;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#FFFFFF"><path d="M816-672v456q0 29.7-21.15 50.85Q773.7-144 744-144H216q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h456l144 144Zm-72 30L642-744H216v528h528v-426ZM556.5-283.5Q588-315 588-360t-31.5-76.5Q525-468 480-468t-76.5 31.5Q372-405 372-360t31.5 76.5Q435-252 480-252t76.5-31.5ZM264-552h336v-144H264v144Zm-48-77v413-528 115Z"/></svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 perfil-bottom-btn"> </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% include 'agencias/modais.html' %}

{% endblock %}

{% block scripts %} 
    <script type="text/javascript" src="{% static 'assets/dist/js/redesSociais.js' %}"></script>
{% endblock %}