{% extends 'leruimoveis/normal_base.html' %}
{% load static %}  

{% block content %}

<div class="px-0 py-0 my-0 capa-bg-empreendimentos">
  <div class="container marketing px-4 py-5 mt-6">
    <div class="row">
      <div class="col-lg-6" style="text-align: left;">
        <div class="col-lg-6 ">
          <h2 class="display-6 text-center mb-4 fundo-preco-colorido">Empreendimentos</h2>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>

<div class="container marketing px-4 py-5 mt-6">
  <div class="row">
    <div class="col-lg-12" style="text-align: left;">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active-color-part" href="{% url 'particulares' %}">Particulares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active-color-pro" href="{% url 'profissionais' %}">Profissionais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active active-color-empr" aria-current="page" href="#">Empreendimentos</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-12" style="text-align: left;">
      <div class="py-5">
        <h2 class="display-6 text-center mb-4">Soluções exclusivas<br/> pensadas para o crescimento do seu negócio</h2>
        <div class="row">
          <div class="col-lg-4"> </div>
          <div class="col-lg-4">
            <div class="form-bg" style="padding: 14px;border-radius: 5px; border:#ccc solid 1px;">
              <div class="col-12 mb-3" style="margin-bottom: 0px !important;">
                <label for="titulo" class="form-label input-titulos">Preços por empreendimentos</label>
                <select id="cbxNEmpreendimentos" class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example" style="padding: 6px 2px 6px 12px; font-size: 16px;color: #777676;">
                  <option selected>Seleciona uma opção</option>
                  <option value="1">1 Empreendimentos</option>
                  <option value="2">2 Empreendimentos</option>
                  <option value="3">3 Empreendimentos</option>
                  <option value="4">4 Empreendimentos</option>
                  <option value="5">5 Empreendimentos</option>
                  <option value="6">6 Empreendimentos</option>
                  <option value="7">7 Empreendimentos</option>
                  <option value="8">8 Empreendimentos</option>
                  <option value="9">9 Empreendimentos</option>
                  <option value="10">10 Empreendimentos</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-4"> </div>
        </div>
      </div>
    </div>
  </div>
  
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Standard</h4>
          </div>
          <div class="card-body">
            <div class="caixa-preco" id="caixaPreco1">
              <h1 class="card-title pricing-card-title preco-size">
                <span id="valor-plano-7"></span>
                <small id="periodo-plano-7" class="text-muted fw-light caixa-p-font">/mês</small>
              </h1>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Postagem com todas características</li>
              <li style="display: none;" id="numeroAnuncio1"></li>
              <li><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> Perfil comercial</li>
              <li>Fotos Ilimitadas</li>
              <li>Suporte telefónico e por email</li>
              <li>Incluídos destaques de 3 dias</li>
              <li>Branding (logótipo + nome da agência)</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> Desconto em destaques</li>
            </ul>
            <div class="aderir-plano" id="aderirPlano1">
              <a id="link-pagamento-7" href="{% url 'pagamento' %}"class="w-100 btn btn-lg btn-outline-green">Começa Agora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-part-green">
          <div class="card-header py-3 text-white bg-part-green border-part-green">
            <h4 class="my-0 fw-normal">Plus</h4>
          </div>
          <div class="card-body bg-part-green-light">
            <div class="caixa-preco" id="caixaPreco2">
              <h1 class="card-title pricing-card-title preco-size">
                <span id="valor-plano-8"></span>
                <small id="periodo-plano-8" class="text-muted fw-light caixa-p-font"></small>
              </h1>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Postagem com todas características</li>
              <li style="display: none;" id="numeroAnuncio2"></li>
              <li><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg> Perfil comercial</li>
              <li>Fotos Ilimitadas</li>
              <li>Suporte telefónico e por email</li>
              <li>Incluídos destaques de 3 dias</li>
              <li>Branding (logótipo + nome da agência)</li>
              <li>20% de desconto em destaques</li>
            </ul>
            <div class="aderir-plano" id="aderirPlano2">
              <a id="link-pagamento-8" href="{% url 'pagamento' %}" class="w-100 btn btn-lg bg-part-green border-part-green">Começa Agora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Premium</h4>
          </div>
          <div class="card-body">
            <div class="caixa-preco" id="caixaPreco3">
              <h1 class="card-title pricing-card-title preco-size">
                <span id="valor-plano-9"></span>
                <small id="periodo-plano-9" class="text-muted fw-light caixa-p-font">/mês</small>
              </h1>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Postagem com todas características</li>
              <li style="display: none;" id="numeroAnuncio3"></li>
              <li>Perfil Comercial</li>
              <li>Fotos Ilimitadas</li>
              <li>Suporte telefónico e por email</li>
              <li>Incluídos destaques de 3 dias</li>
              <li>Branding (logótipo + nome da agência)</li>
              <li>30% de desconto em destaques</li>
            </ul>
            <div class="aderir-plano" id="aderirPlano3">
              <a id="link-pagamento-9" href="{% url 'pagamento' %}" class="w-100 btn btn-lg bg-part-green border-part-green">Começa Agora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <h2 class="display-6 text-center mb-4">Compare planos</h2>
    
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;border-bottom: #000 solid 1px;"></th>
            <th style="width: 22%;border-bottom: #000 solid 1px;">Standard</th>
            <th style="width: 22%;border-bottom: #000 solid 1px;">Plus</th>
            <th style="width: 22%;border-bottom: #000 solid 1px;">Premium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start linhas">Postagem com todas características</th>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start linhas">Número de anúncios acima dos 70</th>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th scope="row" class="text-start linhas">Perfil Comercial</th>
            <td class="linhas"></td>
            <td class="linhas"></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start linhas">Fotos Ilimitadas</th>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start linhas">Suporte telefónico e por email</th>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start linhas">Incluídos destaques de 3 dias</th>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start linhas">Branding (logótipo + nome da agência)</th>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td class="linhas"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 24 24" width="25px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Desconto em destaques</th>
            <td></td>
            <td><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
            <td><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 24 24" width="40px" fill="#05DF72"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
    <span style="font-size: smaller; color: red;">O número de anúncios dentro do empreendimento não influencia o valor. Os preços apresentados são sem IVA e referem‑se a um período de 30 dias.</span>
  </main>
  
</div>

{% endblock %}

{% block scripts %} 
  <script type="text/javascript" src="{% static 'assets/dist/js/empreendimentos.js' %}"></script>
{% endblock %}