{% extends 'leruimoveis/normal_base.html' %}
{% load static %}  

{% block content %}

<div class="px-0 py-0 my-0 capa-precos">
    <div class="container marketing px-4 py-5 mt-6">
        <div class="row">
            <div class="col-lg-6" style="text-align: left;">
                <div class="col-lg-6 fundo-colorido">
                    <h2 class=" text-capa"> Particulares </h2>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</div>

<div class="px-0 py-0 my-0 capa-precos">
    <div class="container marketing px-4 py-5 mt-6">
        <div class="row">
            <div class="col-lg-12" style="text-align: left;">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Particulares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profissionais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Empreendimentos</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12" style="text-align: left;">
                <div class="py-5">
                    <h2 class="display-6 text-center mb-4">Mostre os seus imóveis<br/> a pessoas interessadas em comprar</h2>
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}