{% extends 'leruimoveis/normal_base.html' %}
{% load static %}  

{% block content %}

<div class="px-0 py-0 my-0 capa-q-somos">
    <div class="container marketing px-4 py-5 mt-6">
        <div class="row">
            <div class="col-lg-6" style="text-align: left;">
                <div class="col-lg-6 fundo-colorido">
                    <h2 class=" text-capa"> Quem somos </h2>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</div>

  <div class="container marketing px-4 py-5 mt-6 mb-5">
    <div class="row text-left mb-5">
          <div class="col-12" style="margin:  0px 0px 40px 0px;"> <h2 class="mb-2">Quem Somos</h2> </div>
          <div class="col-lg-6">
            <p class="text-black-50">
              Lerui Imóveis é uma plataforma de listagem e mediação de imóveis que opera nos mercados português e angolano.
            </p>
            <p class="text-black-50">
              Com vasta experiência no setor e um foco na eficiência, oferecemos uma vantagem estratégica tanto na venda quanto no arrendamento de imóveis.
            </p>
            <p class="text-black-50">
              Nossa equipe dedicada garante um atendimento personalizado para atender às necessidades de cada cliente.
            </p>
          </div>
          <div class="col-lg-6">
            <p class="text-black-50">
              Além disso, utilizamos tecnologia de ponta para oferecer uma experiência de busca e transação imobiliária de alta qualidade.
            </p>
          </div>
        </div>

        <div class="b-example-divider ads-section">
          <div class="container">
            <div class="publicidade" style="padding: 0px;">
            
              <div class="row section-counter mt-3">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300" >
              <div class="counter-wrap mb-5 mb-lg-0">
                <span class="number"><span class="countup text-primary">12</span></span>
                <span class="caption text-black-50"># de Imóveis Arendados</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
              <div class="counter-wrap mb-5 mb-lg-0">
                <span class="number"><span class="countup text-primary">0</span></span>
                <span class="caption text-black-50"># de Imóveis Vendidos</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
              <div class="counter-wrap mb-5 mb-lg-0">
                <span class="number"><span class="countup text-primary">0</span></span>
                <span class="caption text-black-50"># de Imóveis Listados</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="600" >
              <div class="counter-wrap mb-5 mb-lg-0">
                <span class="number"><span class="countup text-primary">2</span></span>
                <span class="caption text-black-50"># de Parceiros</span>
              </div>
          </div>
        </div>
        
          </div>
        </div>
      </div>

      <div style="margin:  100px 0px 60px 0px;"></div>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3">  
            <div style="margin:  0px 0px 40px 0px;"><h2 class="mb-2">Angola</h2></div>      
            <div class="contacto-info">
              
              <div class="address mt-2">
                <i class="icon-room"></i>
                <h4 class="mb-2">Endereço:</h4>
                <p>
                  43 Raymouth Rd. Baltemoer,<br />
                  London 3910
                </p>
              </div>

              

              <div class="email mt-4">
                <i class="icon-envelope"></i>
                <h4 class="mb-2">Email:</h4>
                <p>info.ao@leruimoveis.com</p>
              </div>

              <div class="phone mt-4">
                <i class="icon-phone"></i>
                <h4 class="mb-2">Telemovel:</h4>
                <p>+244 1234 55488 55</p>
              </div>
            </div>      
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3">
          <div style="margin:  0px 0px 40px 0px;"><h2 class="mb-2">Portugal</h2></div>
            <div class="contacto-info">
              <div class="endereco mt-2">
                <i class="icon-room"></i>
                <h4 class="mb-2">Endereço:</h4>
                <p>
                  Rua Rádio Ribatejo Nº 1 DTO,<br />
                  Santarém, 2000-219 
                </p>
              </div>

              

              <div class="email mt-4">
                <i class="icon-envelope"></i>
                <h4 class="mb-2">Email:</h4>
                <p>info.pt@leruimoveis.com</p>
              </div>

              <div class="phone mt-4">
                <i class="icon-phone"></i>
                <h4 class="mb-2">Telemovel:</h4>
                <p>+351 934 464 756</p>
              </div>
            </div>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-6">
          <form action="#">
              <div class="row">
                <div class="col-6 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nome"
                  />
                </div>
                <div class="col-6 mb-3">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
                <div class="col-12 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Assunto"
                  />
                </div>
                <div class="col-12 mb-3">
                  <textarea
                    name=""
                    id=""
                    cols="30"
                    rows="7"
                    class="form-control"
                    placeholder="Menssagem"
                  ></textarea>
                </div>

                <div class="col-12">
                  <input
                    type="submit"
                    value="Enviar Mensagem"
                    class="btn btn-detalhes" style="width: 35% !important;"
                  />
                </div>
              </div>
            </form>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
{% endblock %}