{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mário Bandeira, and Bootstrap contributors">
    <title>Leruimoveis.com</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/fonts/icomoon/iconstyle.css' %}" rel="stylesheet">
    <link href="{% static 'assets/dist/css/style.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/dist/css/heroes.css' %}" rel="stylesheet">
    <link href="{% static 'assets/dist/css/features.css' %}" rel="stylesheet">
  </head>
  <body>
    <main>
      {% include 'leruimoveis/header.html' %}
      
      <!-- Main content goes here -->
      <div>
          {% block content %}{% endblock %}
      </div>
      
      {% include 'leruimoveis/footer.html' %}
    </main>
    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>

