{% extends 'leruimoveis/normal_base.html' %}
{% load static %}  

{% block content %}

<div class="px-0 py-0 my-0 capa-servicos">
    <div class="container marketing px-4 py-5 mt-6">
        <div class="row">
            <div class="col-lg-6" style="text-align: left;">
                <div class="col-lg-6 fundo-colorido">
                    <h2 class=" text-capa"> Nossos Serviços </h2>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</div>

<div class="px-0 py-0 my-0 text-center">
    <div class="section bg-light" id="nossos-servicos">
        <div class="container">
            <div class="row">
                <div style="margin:  0px 0px 60px 0px;"></div>
                {% for servico in services %}
                    <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                        <div class="caixa-funcoes mb-4">
                            {{ servico.icons |safe }}
                            <h3 class="text-black mb-3 font-weight-bold" style="margin-top:20px;"> {{ servico.titulo }} </h3>
                            <p class="text-black-50"> {{ servico.corpo }} </p>
                            <p><a href="{% url 'servicedetails' %}?servico_id={{ servico.servico_id }}" class="saiba-mais">Saiba mais</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}