{% extends 'leruimoveis/normal_base.html' %}

{% load static %}  

{% block content %}

<div class="b-example-divider ads-section contorno px-4 py-5 mt-6">
      <div class="container">

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Pagamento</h1>
          <p class="fs-5 text-muted">
            Paça o seu pagamento atraves de uma tranferencia ou MB Way e faz a confirmação via WhatsApp. 
          </p>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-ouro">
                  <div class="card-header py-3 text-white bg-ouro border-ouro">
                    <h4 class="my-0 fw-normal">Ouro</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">£80<small class="text-muted fw-light">/mês</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>MB Way: 945 856 58</li>
                      <li>Santander</li>
                      <li>PT005 4568 213546 85214</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg bg-ouro border-ouro">Confirmar via WhatsApp</button>
                  </div>
                </div>
              </div>
        </div>
        
      </div>
    </div>


{% endblock %}