{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Criar conta – Lerui Imóveis</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/dist/lcss/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/dist/lcss/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/dist/lfonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<form class="login100-form validate-form" method="post" id="register-form">
					{% csrf_token %}
					<span class="login100-form-title p-b-26">
						<a href="{% url 'home' %}">
              				<img class="mb-4" src="{% static 'assets/imagem/lerui Imoveis2.png' %}" alt="Logo marca da Lerui Imóveis" width="140" height="140">
            			</a>
					</span>
          			<span class="login100-form-title p-b-0"> Criar conta </span>
					<span class="login100-form-title p-b-0"> <i class="zmdi zmdi-font"></i> </span>

					<div id="form-message" class="text-center mt-3"></div>

					<div class="wrap-input100 validate-input" data-validate = "Nome de usuário">
						<input class="input100" type="text" name="nomeUsuario" id="nomeUsuario">
						<span class="focus-input100" data-placeholder="Nome de usuário"></span>
					</div>

          			<div class="wrap-input100 validate-input" data-validate = "Email valido is: info@leruimoveis.com">
						<input class="input100" type="text" name="email" id="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Inserir senha">
						<span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i> </span>
						<input class="input100" type="password" name="senha" id="senha">
						<span class="focus-input100" data-placeholder="Senha"></span>
					</div>

          			<div class="wrap-input100 validate-input" data-validate="Repetir a senha">
						<span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i> </span>
						<input class="input100" type="password" name="repetirSenha" id="repetirSenha">
						<span class="focus-input100" data-placeholder="Repete a Senha"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit"> Criar conta </button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1"> Já tens conta? <a href="{% url 'login' %}">Iniciar sessão</a> </span>
					</div>
				</form>

			</div>
		</div>
		<div class="text-center">
			<p class="mt-5 mb-3 text-muted">&copy; 2025 – {% now "Y" %}</p>fadf
		</div>
	</div>
	{% block scripts %} 
    	<script type="text/javascript" src="{% static 'assets/dist/js/registro.js' %}"></script>
	{% endblock %}
</body>
</html>

