{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/dist/lcss/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/dist/lcss/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/dist/lfonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<form class="login100-form validate-form" method="post" id="login-form">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.GET.next }}">
					<span class="login100-form-title p-b-26">
						<a href="{% url 'home' %}">
                            <img class="mb-4" src="{% static 'assets/imagem/lerui Imoveis2.png' %}" alt="Logo marca da Lerui Imóveis" width="72" height="90">
                        </a>
					</span>
                    
                    <span class="login100-form-title p-b-4">Bem-vindo </span>

					<div id="form-message" class="text-center mt-3"></div>
					
                    <span class="login100-form-title p-b-4"> 
                        <i class="zmdi zmdi-font"></i>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Email valido: info@lea.co.ao">
						<input class="input100" type="text" name="nomeUsuario" id="nomeUsuario">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Inserir Senha">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="senha" id="senha">
						<span class="focus-input100" data-placeholder="Senha"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit"> Entrar </button>
						</div>
					</div>
					
				</form>

				<div class="text-center p-t-115">
					<span class="txt1">
						Não tem uma conta? <a href="{% url 'inscrever-se' %}">Registre-se</a> 
					</span>
				</div>

			</div>
		</div>
        <div class="text-center"> 
            <p class="mt-5 mb-3 text-muted">&copy; 2025 – {% now "Y" %}</p> 
        </div>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	
    {% block scripts %} 
    	<script type="text/javascript" src="{% static 'assets/dist/js/login.js' %}"></script>
	{% endblock %}
	
</body>
</html>