{% extends 'leruimoveis/normal_base.html' %}

{% load static %}  

{% block content %}

    <div class="px-0 py-0 my-0 text-center">
        <div class="section bg-light" id="nossos-servicos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0" style="margin: 30px 0px 30px 0px;">
                        <div style="border:#ccc solid 1px;">
                            <ul class="list-group list-group-flush" style="text-align: left;">
                                <a href="{% url 'perfil' %}" class="perfil-menu">
                                    <li class="list-group-item btn-activo list-g-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#434343"><g><rect fill="none" height="24" width="24"/></g><g><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 4c1.93 0 3.5 1.57 3.5 3.5S13.93 13 12 13s-3.5-1.57-3.5-3.5S10.07 6 12 6zm0 14c-2.03 0-4.43-.82-6.14-2.88C7.55 15.8 9.68 15 12 15s4.45.8 6.14 2.12C16.43 19.18 14.03 20 12 20z"/></g></svg>
                                        Perfil
                                    </li>
                                </a>
                                <a href="{% url 'foto' %}" class="perfil-menu">
                                    <li class="list-group-item list-g-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#434343"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                                        Foto
                                    </li>
                                </a>
                                <a href="{% url 'subscricao' %}" class="perfil-menu">
                                    <li class="list-group-item list-g-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#434343"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 8H4V6h16v2zm-2-6H6v2h12V2zm4 10v8c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2v-8c0-1.1.9-2 2-2h16c1.1 0 2 .9 2 2zm-6 4l-6-3.27v6.53L16 16z"/></svg>
                                        Subscrição
                                    </li>
                                </a>
                                <a href="{% url 'encerrar' %}" class="perfil-menu">
                                    <li class="list-group-item list-g-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#434343"><path d="M18.5 13c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5 3.5-1.57 3.5-3.5-1.57-3.5-3.5-3.5zm2 4h-4v-1h4v1zm-6.95 0c-.02-.17-.05-.33-.05-.5 0-2.76 2.24-5 5-5 .92 0 1.76.26 2.5.69V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h8.55zM12 10.5L5 7V5l7 3.5L19 5v2l-7 3.5z"/></svg>
                                        Encerra a conta
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>  
                    <div class="col-lg-8 mb-5 mb-lg-0" style="margin: 30px 0px 60px 0px;">
                        {% csrf_token %}
                        <div style="border:#ccc solid 1px;">
                            <ul class="list-group list-group-flush" style="text-align: left; width: 100%;">
                                <li class="list-group-item" style="background-color: #ccc;">Perfil</li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label for="titulo" class="form-label input-titulos">Utilizador</label>
                                            <input type="text" id="titulo" name="titulo" class="form-control" value="{{ username }}" readonly>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="primeiroNome" class="form-label input-titulos">Nome</label>
                                            <input type="text" id="primeiroNome" name="primeiroNome" class="form-control" value="{{ perfil.primeiro_nome|default:'' }}">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="ultimoNome" class="form-label input-titulos">Sobre Nome</label>
                                            <input type="text" id="ultimoNome" name="ultimoNome" class="form-control" value="{{ perfil.sobre_nome|default:'' }}">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="telefone" class="form-label input-titulos">Telefone</label>
                                            <input type="text" id="telefone" name="telefone" class="form-control" value="{{ perfil.telefone|default:'' }}">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="email" class="form-label input-titulos">Email</label>
                                            <input type="text" id="email" name="email" class="form-control" value="{{ perfil.email|default:'' }}">
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="endereco" class="form-label input-titulos">Endereço</label>
                                            <textarea id="endereco" name="endereco" class="form-control" style="height: 90px">{{ perfil.endereco|default:'' }}</textarea>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="sobre" class="form-label input-titulos">Sobre mim</label>
                                            <textarea id="sobre" name="sobreMim" class="form-control" style="height: 90px" placeholder="Conte-nos um pouco sobre si...">{{ perfil.sobreMim|default:'' }}</textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 perfil-bottom-btn">
                            <input type="submit" onclick="GuardarPerfil()" id="guardarPerfil" value="Guardar" class="btn btn-detalhes" disabled/>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSucesso" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 15px; border: none;">
                <div class="modal-header bg-success text-white" style="border-radius: 15px 15px 0 0;">
                    <h5 class="modal-title fw-bold">Sucesso!</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center py-4">
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#198754" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                    </div>
                    <p id="msgSucessoTexto" class="fs-5"></p>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-success w-100" data-bs-dismiss="modal" style="border-radius: 8px;">Continuar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalErro" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 15px; border: none; shadow: 0 10px 30px rgba(0,0,0,0.1);">
                <div class="modal-header bg-danger text-white" style="border-radius: 15px 15px 0 0;">
                    <h5 class="modal-title fw-bold">Atenção</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalErroCorpo"> </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border-radius: 8px;">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    {% block scripts %} 
        <script type="text/javascript" src="{% static 'assets/dist/js/authUserProfile.js' %}"></script>
    {% endblock %}

{% endblock %}