{% extends 'leruimoveis/normal_base.html' %}

{% load static %}  

{% block content %}

    <div class="px-0 py-0 my-0 text-center">
        <div class="section bg-light" id="nossos-servicos">
            <div class="container">
                <div class="row">
                    <div style="margin:  20px 0px 0px 0px;"></div>

                    <div class="col-6 col-lg-3" data-aos="fade-up">
                        <div class="caixa-funcoes mb-4" style="padding: 0px;">
                            <div class="card" style="width: 16.2rem;">
                                <ul class="list-group list-group-flush" style="text-align: left;">
                                    <li class="list-group-item">Perfil</li>
                                    <li class="list-group-item">Foto</li>
                                    <li class="list-group-item">Subscrição</li>
                                    <li class="list-group-item">Encerra a conta</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-9" data-aos="fade-up">
                        <div class="caixa-funcoes mb-4">
                            <ul class="list-group list-group-flush" style="text-align: left;">
                                <li class="list-group-item">Perfil</li>
                                <li class="list-group-item">Foto</li>
                            </ul>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                </div>
            </div>
    </div>

{% endblock %}